<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="gthumb-batch-convert-format" xml:lang="el">
  <info>
    <link type="guide" xref="index#batch"/>
  </info>
  <title>Converting File Formats</title>

  <p>To convert one or more images into a new file format, select
  the images in the browser view. Then click the <gui>Tools</gui> button
  on the main toolbar, and select <guiseq><gui>Tools</gui><gui>Convert Format</gui></guiseq>.</p>

  <p>Select the desired output format and destination folder. Click <gui>Execute</gui>
  to complete the process.</p>

</page>
