<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="gthumb-extensions" xml:lang="el">
  <info>
    <link type="guide" xref="index#welcome"/>
  </info>
  <title>Extending gThumb</title>

  <p><app>gThumb</app> has a plug-in system for extensions. Some standard
  features are implemented as extensions and are supplied with the standard
  distribution. Users may write (and share) additional extensions.</p>

  <p>You can enable or disable extensions using
  <guiseq><gui>Edit</gui><gui>Extensions</gui></guiseq>. Some extensions
  will have <gui>Preferences</gui> that can be modified from this dialog.</p>

  <p>This manual is written with the assumption that the standard extensions
  are enabled. If you seem to be missing a feature, check to see which
  extensions are actually enabled.</p>

  <p>If you would like to write your own extension, please visit
  <link href="http://live.gnome.org/gthumb">http://live.gnome.org/gthumb</link>
  for development information. An example extension is provided in the source
  code, which you can base your own extension on.</p>

</page>
