<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="gthumb-edit-red-eye" xml:lang="sl">
  <info>
    <link type="guide" xref="index#editing"/>
  </info>
  <title>Odstranitev rdečih oči</title>
  <p><media type="image" mime="image/png" src="figures/palette.png"/> Za dostop do orodij urejanja odprite sliko in nato kliknite na gumb orodne vrstice <gui>Uredi datoteko</gui> (ikona palete).</p>

  <p><app>gThumb</app> zagotavlja orodje <gui>odstranjevanja rdečih oči</gui>. Za odstranitev rdečega očesa postavite miškin kazalec nad rdeče oko in kliknite nanj. <app>gThumb</app> bo poskusil odstraniti rdeče področje in ga zamenjati s sivim področjem bolj naravnega videza. V primeru, da rezultati niso videti pravilno, pritisnite <key>Esc</key> in kliknite na predmet <gui>Razveljavi</gui>.</p>

  <p>To orodje deluje najboljše, ko je med rdečim očesom in bližnjim področjem obraza visok kontrast. Ne deluje dobro za "oranžno oko", ki ga je včasih mogoče videti na fotografijah otrok ali če ima koža v bližini rdeč pridih. To orodje bi lahko uporabilo izboljšave - če ste kruto pametni, ljubite algebro matrik in odprtokodne programe, <link href="http://live.gnome.org/gthumb/development">pošljite popravek!</link></p>

</page>
