<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="gthumb-attributes" xml:lang="es">
  <info>
    <link type="guide" xref="index#reference"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@ie.edu</mal:email>
      <mal:years>2008-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2008</mal:years>
    </mal:credit>
  </info>
  <title>Códigos de atributos</title>
  <p><app>gThumb</app> almacena diferentes atributos para cada archivo. Las extensiones pueden añadir más. La siguiente lista es un resumen de algunos de los atributos más comunes:</p>
  <list>
    <item>
      <p>gth::file::display-size</p>
    </item>
    <item>
      <p>standard::fast-content-type</p>
    </item>
    <item>
      <p>general::dimensions</p>
    </item>
    <item>
      <p>general::format</p>
    </item>
    <item>
      <p>general::location</p>
    </item>
    <item>
      <p>general::datetime</p>
    </item>
    <item>
      <p>general::rating</p>
    </item>
    <item>
      <p>Exif::Image::Make</p>
    </item>
    <item>
      <p>Exif::Image::Model</p>
    </item>
    <item>
      <p>Exif::Image::Software</p>
    </item>
    <item>
      <p>Exif::Image::Artist</p>
    </item>
    <item>
      <p>Exif::Image::Copyright</p>
    </item>
    <item>
      <p>Exif::Photo::ISOSpeedRatings</p>
    </item>
    <item>
      <p>Exif::Photo::BrightnessValue</p>
    </item>
    <item>
      <p>Exif::Photo::FNumber</p>
    </item>
    <item>
      <p>Exif::Photo::ApertureValue</p>
    </item>
    <item>
      <p>Exif::Photo::MaxApertureValue</p>
    </item>
    <item>
      <p>Exif::Photo::ExposureTime</p>
    </item>
    <item>
      <p>Exif::Photo::ExposureProgram</p>
    </item>
    <item>
      <p>Exif::Photo::ExposureIndex</p>
    </item>
    <item>
      <p>Exif::Photo::ExposureBiasValue</p>
    </item>
    <item>
      <p>Exif::Photo::ExposureMode</p>
    </item>
    <item>
      <p>Exif::Photo::ShutterSpeedValue</p>
    </item>
    <item>
      <p>Exif::Photo::MeteringMode</p>
    </item>
    <item>
      <p>Exif::Photo::LightSource</p>
    </item>
    <item>
      <p>Exif::Photo::WhiteBalance</p>
    </item>
    <item>
      <p>Exif::Photo::Flash</p>
    </item>
    <item>
      <p>Exif::Photo::FocalLength</p>
    </item>
    <item>
      <p>Exif::Photo::SubjectArea</p>
    </item>
    <item>
      <p>Exif::Photo::Contrast</p>
    </item>
    <item>
      <p>Exif::Photo::Saturation</p>
    </item>
    <item>
      <p>Exif::Photo::Sharpness</p>
    </item>
  </list>
</page>
