<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="gthumb-thumbnails" xml:lang="es">
  <info>
    <link type="guide" xref="index#reference"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@ie.edu</mal:email>
      <mal:years>2008-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2008</mal:years>
    </mal:credit>
  </info>
  <title>Fuente de miniaturas</title>

  <p>La ventana del navegador normalmente muestra las miniaturas de las imágenes y las películas de la carpeta seleccionada. También se pueden mostrar iconos genéricos para otros archivos (archivos de audio, por ejemplo).</p>

  <p>Puede seleccionar qué tipos de archivos se mostrarán en la vista de navegador usando el diálogo <guiseq><gui>Ver</gui><gui>Filtro</gui></guiseq>. Lo predeterminado es mostrar todos los archivos de medios (imágenes, películas, sonido), pero esto se puede hacer más o menos restrictivo.</p>

  <p>Las miniaturas se pueden generar de diferentes maneras. <app>gThumb</app> comprobará primero las miniaturas existentes en la caché del sistema.</p>

  <p>Si no se encuentra ninguna miniatura en la caché, y un archivo de imagen contiene una miniatura empotrada (los archivos jpeg generados por cámaras digitales generalmente lo tienen), <app>gThumb</app> intentará usarla. <app>gThumb</app> confirmará que la relación de aspecto de la miniatura es similar a la de la imagen principal, e ignorará las miniaturas que no coinciden con la imagen principal.</p>

  <p>Si eso no funciona, <app>gThumb</app> intentará cargar el archivo completo y generar una miniatura a escala reducida.</p>

  <p>Por último, <app>gThumb</app> usará un sistema de scripts definidos por el sistema para miniaturizar determinados tipos de medios. Por ejemplo, algunos sistemas <app>mplayer</app> o <app>totem</app> u otros visores de películas para generar miniaturas de películas.</p>

  <p><app>gThumb</app> guardará las miniaturas en la caché del sistema, para compartirlas con otras aplicaciones. De manera predeterminada, los sistemas GNOME cortan las miniaturas cacheadas cuando sobrepasan los 180 días, o cuando la caché de miniaturas supera los 512 MB. Los usuarios técnicos puede explorar esta configuración con <app>gconf-editor</app>. En particular, vea las claves «desktop/gnome/thumbnail_cache/maximum_age» y «/desktop/gnome/thumbnail_cache/maximum_size». Ciertas aplicaciones (como <app>F-Spot</app>) pueden incrementar automáticamente estos valores extensamente.</p>
</page>
