<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="gthumb-shortcuts" xml:lang="oc">
  <info>
    <link type="guide" xref="index#reference"/>
  </info>

  <title>Keyboard Shortcuts</title>

  <section id="gthumb-SCT-shortcuts-folders">
    <title>Viewing and hiding parts of the user interface</title>
    <table frame="all" rules="all">
      <tr>
        <td>
          <p>Keyboard Shortcut</p>
        </td>
        <td>
          <p>Descripcion</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>F9</key>
          </p>
        </td>
        <td>
          <p>Show/Hide the sidebar in the browser mode. The sidebar contains the folder tree
          and the file properties summary (if enabled).</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
          <key>i</key>
          </p>
        </td>
        <td>
          <p>Show the file properties summary.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
          <key>F8</key>
          </p>
        </td>
        <td>
          <p>Shows/hides the thumbnail pane in the viewer mode.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
          <key>F11</key> or <key>f</key>
          </p>
        </td>
        <td>
          <p>Toggles the fullscreen mode.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
          <keyseq><key>Ctrl</key><key>t</key></keyseq>
          </p>
        </td>
        <td>
          <p>Shows/hides the thumbnails in the browser mode.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
          <key>Esc</key>
          </p>
        </td>
        <td>
          <p>Closes the viewer or fullscreen mode.</p>
        </td>
      </tr>

    </table>
  </section>


  <section id="gthumb-SCT-shortcuts-browser">
    <title>Editing shortcuts for the browser and viewer</title>
    <table frame="all" rules="all">
      <tr>
        <td>
          <p>Keyboard Shortcut</p>
        </td>
        <td>
          <p>Descripcion</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>e</key>
          </p>
        </td>
        <td>
          <p>Edit the image. Opens the viewer and shows the editing tools.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
          <key>g</key>
          </p>
        </td>
        <td>
          <p>Open the image with the GNU Image Manipulation Program (GIMP).</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
          <key>F2</key>
          </p>
        </td>
        <td>
          <p>Rename the image.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
          <key>c</key> or <keyseq><key>Ctrl</key><key>m</key></keyseq>
          </p>
        </td>
        <td>
          <p>Add comments or metadata to an image.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
          <key>]</key>
          </p>
        </td>
        <td>
          <p>Rotate right, losslessly if possible. The file is saved automatically.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
          <key>[</key>
          </p>
        </td>
        <td>
          <p>Rotate left, losslessly if possible. The file is saved automatically.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>Delete</key>
          </p>
        </td>
        <td>
          <p>Move the selected files to the Trash.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <keyseq><key>Shift</key><key>Delete</key></keyseq>
          </p>
        </td>
        <td>
          <p>Delete the selected files permanently.</p>
        </td>
      </tr>

    </table>
  </section>

  <section id="gthumb-SCT-shortcuts-viewer">
    <title>Editing shortcuts for the viewer mode only</title>
    <table frame="all" rules="all">
      <tr>
        <td>
          <p>Keyboard Shortcut (Case Sensitive)</p>
        </td>
        <td>
          <p>Descripcion</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>h</key>
          </p>
        </td>
        <td>
          <p>Enhance colors.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>l</key>
          </p>
        </td>
        <td>
          <p>Flip image.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>m</key>
          </p>
        </td>
        <td>
          <p>Mirror image.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>r</key>
          </p>
        </td>
        <td>
          <p>Rotate right.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>R</key>
          </p>
        </td>
        <td>
          <p>Rotate left.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>C</key>
          </p>
        </td>
        <td>
          <p>Crop image.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>S</key>
          </p>
        </td>
        <td>
          <p>Resize image.</p>
        </td>
      </tr>
    </table>
  </section>

  <section id="gthumb-SCT-shortcuts-viewer2">
    <title>Viewer shortcuts</title>
    <table frame="all" rules="all">
      <tr>
        <td>
          <p>Keyboard Shortcut</p>
        </td>
        <td>
          <p>Descripcion</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
          <key>Space</key> or
          <key>Page Down</key></p>
        </td>
        <td>
          <p>View the next image.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
          <key>Backspace</key> or
          <key>Page Up</key></p>
        </td>
        <td>
          <p>View the previous image.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>Home</key>
          </p>
        </td>
        <td>
          <p>View the first image.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>End</key>
          </p>
        </td>
        <td>
          <p>View the last image.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <keyseq>
              <key>Ctrl</key>
              <key>D</key>
            </keyseq>
          </p>
        </td>
        <td>
          <p>Add the current location to the bookmarks.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
          <key>+</key> or
          <key>=</key></p>
        </td>
        <td>
          <p>Zoom in.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>-</key>
          </p>
        </td>
        <td>
          <p>Zoom out.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
          <key>1</key> or
          <key>z</key> or
          <key>/ (numeric keypad)</key></p>
        </td>
        <td>
          <p>Talha actuala.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
          <key>x</key> or
          <key>* (numeric keypad)</key></p>
        </td>
        <td>
          <p>Zoom to fit (scales down only, does not magnify)</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <keyseq>
              <key>Shift</key>
              <key>x</key>
            </keyseq>
          </p>
        </td>
        <td>
          <p>Zoom to fit (scale down or magnify, as required)</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>Arrows</key>
          </p>
        </td>
        <td>
          <p>Scroll the image.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <keyseq>
              <key>Shift</key>
              <key>Arrows</key>
            </keyseq>
          </p>
        </td>
        <td>
          <p>Scroll the image faster.</p>
        </td>
      </tr>
    </table>
  </section>

  <section id="gthumb-SCT-shortcuts-browsernav">
    <title>Browser Navigation</title>
    <table frame="all" rules="all">

      <tr>
        <td>
          <p>
            <key>Home</key>
          </p>
        </td>
        <td>
          <p>Go to the first file in the browser view.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>End</key>
          </p>

        </td>
        <td>
          <p>Go to the last file in the browser view.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>Down Arrow</key> or <key>Page Down</key>
          </p>
        </td>
        <td>
          <p>Scroll downwards through the thumbnails.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>Up Arrow</key> or <key>Page Up</key>
          </p>
        </td>
        <td>
          <p>Scroll upwards through the thumbnails.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <keyseq><key>Alt</key><key>Left Arrow</key></keyseq>
          </p>
        </td>
        <td>
          <p>Go back to the previously viewed folder.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <keyseq><key>Alt</key><key>Right Arrow</key></keyseq>
          </p>
        </td>
        <td>
          <p>Go forward (after going back to a folder).</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
          <keyseq>
            <key>Alt</key>
            <key>Up</key>
          </keyseq>
          </p>
        </td>
        <td>
          <p>Go up one level.</p>
        </td>
      </tr>
    </table>
  </section>

  <section id="gthumb-SCT-shortcuts-slideshow">
    <title>Slideshow controls</title>
    <table frame="all" rules="all">
      <tr>
        <td>
          <p>Keyboard Shortcut</p>
        </td>
        <td>
          <p>Descripcion</p>
        </td>
      </tr>
     <tr>
        <td>
          <p>
            <key>F5</key>
          </p>
        </td>
        <td>
          <p>Start a slideshow.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>p</key>
          </p>
        </td>
        <td>
          <p>Pause/Unpause the slideshow.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>Esc</key> or <key>q</key>
          </p>
        </td>
        <td>
          <p>Close the slideshow.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>Space</key> or <key>Down Arrow</key> or <key>Right Arrow</key> or <key>Page Down</key>
          </p>
        </td>
        <td>
          <p>Load the next image.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <key>Backspace</key> or <key>Up Arrow</key> or <key>Left Arrow</key> or <key>Page Up</key>
          </p>
        </td>
        <td>
          <p>Load the previous image.</p>
        </td>
      </tr>

    </table>
  </section>
</page>
